.presents-display-container {
    align-content: space-evenly;
    background-color: #232c3b;
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 100px);
    justify-content: space-evenly;
}