.players-display-container {
    align-items: center;
    background-color: gray;
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    width: 200px;

    .game-logo-container {
        margin: 24px 0px;
    }

    .btn-container {
        margin: 10px 0px;
        width: 90%;
    }

    .player-names-container {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .player-container {
            opacity: 0.5;
    
            h2 {
                font-size: 16px;
            }
        }
    
        .player-container-active {
            opacity: 1.0;
        }
    }

}