.home-container {
    height: 100vh;
    width: 100vw;

    .outlet-container {
        height: 100vh;
        position: absolute;
        width: 100vw;
    }

    .background {
        background-color: #232c3b;
        height: 100vh;
        position: fixed;
        width: 100vw;
        z-index: -100;
    }
}
