.player-shuffle-page-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 48px;
    height: 100%;
    padding-top: 50px;
    width: 100%;

    .players-display {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        height: 500px;
        max-width: 80%;
        text-align: center;
        width: fit-content;
        

        h1 {
            font-size: 24px;
            width: 200px;
        }
    }

    .action-btns-container {
        display: flex;
        gap: 24px;
    }
}