body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

h1,h2,h3,li,p {
  color: #FFFFFF;
  margin: 0;
}

h1 {
  font-family: "Lobster", sans-serif;
}

h2 {
  font-family: 'Roboto Condensed';
}

h3 {
  font-family: 'Roboto Condensed';
}

li {
  font-family: 'Roboto';
}
